.background-header
{
    background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
.navbar.fixed-top
{
    background-color: #FFD96A;
    color: #6552C0 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #6552C0;
}

/*Primeros cards*/
.cardprimeros
{
    padding-top: 1em;
}

.cardprimeros .col .card
{
    background: aliceblue;
    opacity: 0.9;
}

/*Servicios*/

/*Sección cards pequeños*/

.seccion-cards .bg-miestilo
{    
    background:#6F5AD3;
    opacity: 0.8;
}

.seccion-cards .bg-miestilo1
{    
    background:#FFD96A;
    opacity: 0.8;
}


.seccion-cards .bg-miestilo2
{    
    background:#59BB93;
    opacity: 0.8;
}

.seccion-cards .bg-miestilo3
{    
    background:#FAAF3F;
    opacity: 0.8;
}

.seccion-cards .bg-miestilo4
{    
    background:#27B7EB;
    opacity: 0.8;
}

.seccion-cards .bg-miestilo5
{    
    background:#A882DD;
    opacity: 0.8;
}




/*ANIMACIÓN CSS*/
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 18.5vh;
    top: 0;
    left: 0;
    /* background: #3E1E68; */
    /*overflow: hidden;*/
}

.background span {
    width: 3vmin;
    height: 3vmin;
    border-radius: 3vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #27b7eb;
    top: 69%;
    left: 2%;
    animation-duration: 35s;
    animation-delay: -19s;
    transform-origin: -14vw 11vh;
    box-shadow: -6vmin 0 1.5868019257709687vmin currentColor;
}
.background span:nth-child(1) {
    color: #27b7eb;
    top: 81%;
    left: 44%;
    animation-duration: 54s;
    animation-delay: -6s;
    transform-origin: 23vw 15vh;
    box-shadow: -6vmin 0 1.5390725063485784vmin currentColor;
}
.background span:nth-child(2) {
    color: #faaf3f;
    top: 66%;
    left: 79%;
    animation-duration: 53s;
    animation-delay: -33s;
    transform-origin: -8vw -18vh;
    box-shadow: 6vmin 0 0.7509980548374553vmin currentColor;
}
.background span:nth-child(3) {
    color: #27b7eb;
    top: 37%;
    left: 97%;
    animation-duration: 42s;
    animation-delay: -43s;
    transform-origin: 24vw -10vh;
    box-shadow: -6vmin 0 0.9317305826748086vmin currentColor;
}
.background span:nth-child(4) {
    color: #27b7eb;
    top: 89%;
    left: 30%;
    animation-duration: 23s;
    animation-delay: -28s;
    transform-origin: 7vw 18vh;
    box-shadow: -6vmin 0 1.6613870342079966vmin currentColor;
}
.background span:nth-child(5) {
    color: #a882dd;
    top: 25%;
    left: 79%;
    animation-duration: 16s;
    animation-delay: -41s;
    transform-origin: -16vw 24vh;
    box-shadow: -6vmin 0 1.2124228079555237vmin currentColor;
}
.background span:nth-child(6) {
    color: #faaf3f;
    top: 47%;
    left: 3%;
    animation-duration: 10s;
    animation-delay: -29s;
    transform-origin: 17vw 13vh;
    box-shadow: 6vmin 0 1.2972807751229498vmin currentColor;
}
.background span:nth-child(7) {
    color: #27b7eb;
    top: 33%;
    left: 3%;
    animation-duration: 55s;
    animation-delay: -32s;
    transform-origin: 17vw 15vh;
    box-shadow: -6vmin 0 1.5876350155910723vmin currentColor;
}
.background span:nth-child(8) {
    color: #faaf3f;
    top: 39%;
    left: 97%;
    animation-duration: 37s;
    animation-delay: -28s;
    transform-origin: 10vw -22vh;
    box-shadow: 6vmin 0 1.0109857315052482vmin currentColor;
}
.background span:nth-child(9) {
    color: #27b7eb;
    top: 89%;
    left: 68%;
    animation-duration: 29s;
    animation-delay: -14s;
    transform-origin: -21vw 16vh;
    box-shadow: 6vmin 0 0.8264848955153368vmin currentColor;
}
.background span:nth-child(10) {
    color: #faaf3f;
    top: 50%;
    left: 26%;
    animation-duration: 23s;
    animation-delay: -40s;
    transform-origin: 10vw -9vh;
    box-shadow: -6vmin 0 1.4320670756195288vmin currentColor;
}
.background span:nth-child(11) {
    color: #27b7eb;
    top: 23%;
    left: 87%;
    animation-duration: 20s;
    animation-delay: -3s;
    transform-origin: 11vw -10vh;
    box-shadow: -6vmin 0 1.6317238938235685vmin currentColor;
}
.background span:nth-child(12) {
    color: #a882dd;
    top: 80%;
    left: 82%;
    animation-duration: 13s;
    animation-delay: -23s;
    transform-origin: 13vw -5vh;
    box-shadow: -6vmin 0 1.3149290431724656vmin currentColor;
}
.background span:nth-child(13) {
    color: #faaf3f;
    top: 19%;
    left: 51%;
    animation-duration: 14s;
    animation-delay: -8s;
    transform-origin: 6vw -15vh;
    box-shadow: -6vmin 0 1.4633196724468396vmin currentColor;
}
.background span:nth-child(14) {
    color: #faaf3f;
    top: 75%;
    left: 74%;
    animation-duration: 25s;
    animation-delay: -9s;
    transform-origin: -22vw 7vh;
    box-shadow: 6vmin 0 0.7699265097042953vmin currentColor;
}
.background span:nth-child(15) {
    color: #a882dd;
    top: 72%;
    left: 4%;
    animation-duration: 47s;
    animation-delay: -7s;
    transform-origin: 21vw -19vh;
    box-shadow: -6vmin 0 0.9054547387307639vmin currentColor;
}
.background span:nth-child(16) {
    color: #27b7eb;
    top: 41%;
    left: 74%;
    animation-duration: 54s;
    animation-delay: -12s;
    transform-origin: 1vw 23vh;
    box-shadow: -6vmin 0 1.1739123001642624vmin currentColor;
}
.background span:nth-child(17) {
    color: #27b7eb;
    top: 83%;
    left: 74%;
    animation-duration: 7s;
    animation-delay: -46s;
    transform-origin: 15vw -19vh;
    box-shadow: 6vmin 0 1.4855233919800293vmin currentColor;
}
.background span:nth-child(18) {
    color: #27b7eb;
    top: 69%;
    left: 35%;
    animation-duration: 29s;
    animation-delay: -25s;
    transform-origin: 11vw 16vh;
    box-shadow: -6vmin 0 1.0363062861090402vmin currentColor;
}
.background span:nth-child(19) {
    color: #a882dd;
    top: 43%;
    left: 66%;
    animation-duration: 54s;
    animation-delay: -45s;
    transform-origin: -18vw 13vh;
    box-shadow: -6vmin 0 1.120875895075032vmin currentColor;
}
.background span:nth-child(20) {
    color: #a882dd;
    top: 36%;
    left: 26%;
    animation-duration: 36s;
    animation-delay: -20s;
    transform-origin: -7vw -19vh;
    box-shadow: 6vmin 0 1.2176935909863416vmin currentColor;
}
.background span:nth-child(21) {
    color: #faaf3f;
    top: 75%;
    left: 76%;
    animation-duration: 28s;
    animation-delay: -25s;
    transform-origin: -22vw 25vh;
    box-shadow: 6vmin 0 1.2332304174198627vmin currentColor;
}
.background span:nth-child(22) {
    color: #faaf3f;
    top: 33%;
    left: 93%;
    animation-duration: 7s;
    animation-delay: -29s;
    transform-origin: -14vw 17vh;
    box-shadow: -6vmin 0 0.767499790138735vmin currentColor;
}
